*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}


.box{
    height: 200px;
    width: 200px;
    background-color: white;
}




.flexcontainer{
    display: flex;
    height: 70vh;
    gap: 20px;
    width: 100%;
    background-color: black;
    padding: 20px;
    justify-content: flex-end;
    
}

